h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

body  {
  background-color: rgb(252, 255, 254);
}
header {
  background-color: rgb(152, 190, 226);
}

div {
  background-color: rgb(211, 139, 139);
}

h5 {
  font-size: 2em;
  margin: 0.67em 0;
}